$thetransition: all .25s cubic-bezier(1,.25,0,.75) 0s;

a {
  text-decoration: none;
  position: relative;

  /*
    webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  */

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #cc1f1a;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: $thetransition;
    transition: $thetransition;
  }
  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.about--wrapper {
  margin-top: 5em;
}

.link-menu {
  a {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto';
    margin: .5em 1.5em .5em 0;
  }
  &.about {
    position: absolute;
    top: 0;
  }
  &.profile {
    position: relative;
    margin: 10%;
  }
  //&.profile {
  //  position: relative;
  //  display: flex;
  //  justify-content: flex-start;
  //  padding: 0 45vh;
  //  margin-top: 1em;
  //}
}

.icon--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);  border: 1px solid white;
  border-radius: 5px;
  i {
    font-size: 120px;
  }
  div { margin: 1em 0;width: 100%;display: flex;justify-content: space-around; }
}
